@import "tailwindcss";

html {
   scroll-behavior: smooth;
}

body {
   background:
      radial-gradient(circle at top right, #eef9f1 0%, transparent 28%),
      radial-gradient(circle at bottom left, #f5fcf7 0%, transparent 30%),
      #fafaf7;

   color: #252525;
}